services:
  db:
    image: postgres:17-alpine
    container_name: postgres_db
    restart: always
    environment:
      - POSTGRES_DB=conferenzetech
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./backend/schema.sql:/docker-entrypoint-initdb.d/schema.sql
  backend:
    build:
      context: ./backend
      target: builder
    volumes:
      - ./backend:/app
    working_dir: /app
    command: go run .
    depends_on:
      - db
    environment:
      - DATABASE_URL=postgres://user:password@db:5432/conferenzetech?sslmode=disable
    ports:
      - "8080:8080"

  frontend:
    build:
      context: ./frontend
      target: builder # Usa lo stage con Node installato
    volumes:
      - ./frontend:/app
      - /app/node_modules
    command: npm run dev -- --host 0.0.0.0
    ports:
      - "5173:5173"

volumes:
  postgres_data: