services:
  backend:
    build:
      context: ./backend
      target: builder
    volumes:
      - ./backend:/app
    working_dir: /app
    command: go run main.go
    ports:
      - "8080:8080"

  frontend:
    build:
      context: ./frontend
      target: builder # Usa lo stage con Node installato
    volumes:
      - ./frontend:/app
      - /app/node_modules
    command: npm run dev -- --host 0.0.0.0
    ports:
      - "5173:5173"